.about-us-container {
  width: 90%;              /* Take 90% of the screen width */
  max-width: 1200px;       /* But never exceed 1200px on large monitors */
  margin: 0 auto;          /* Center the container horizontally */
  text-align: justify;
  padding: 10px 20px;      /* Add side breathing room */
  box-sizing: border-box;  /* Prevent padding from increasing total width */
  }
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
  }
  
  .about-us-content {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;

  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }